@import url(http://fonts.googleapis.com/css?family=Lato|Bree+Serif);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

#brand {
    height: 5vw;
}

nav {
    margin-left: auto;
}

nav a {
    font-family: Lato, sans-serif;
    color: #6a6b6b;
    text-decoration: none;
    margin: 0 0.5rem;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: url('images/zebra-hero.jpg') #8980c2 no-repeat center;
    background-size: cover;
}

#hero img {
    width: 15vw;
    border-radius: 50%;
}

#hero h1 {
    font-family: 'Bree Serif', serif;
    color: white;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 1rem 0;
}

.button{
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 1rem;
}

.btn-purple {
    color: #8980c2;
    border-color:#8980c2;
}

.btn-white {
    color: white;
    border-color: white;
}
/* Main content */
main {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    justify-content: space-around;
}

main h2 {
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 0 0 1rem;
}
/* Main Article */
main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 0 2rem;
}

main article img {
    /* display: none; */
    width: 100%;
    border-radius: 50%;
    border: 2px solid #8980c2;
    margin-bottom: 1rem;
}

main article h3 {
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    color: #8980c2;
}

main article p {
    margin: 1rem 0;
}

/* Social Section */
#social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #8980c2;
    padding: 1rem 0;

}

#social-links p {
    margin: 0 0 1rem;
    font-family: 'Bree Serif', serif;
    color: white;
}

#social-links div div{
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    padding: 1rem;
}